.locales__container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.locales__container button {
  background-color: transparent;
  border: none;
  font-family: 'TT0005M', sans-serif;
  font-size: 16px;
  color: var(--aw-text-primary);
  cursor: pointer;
}