.proyects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 350px;
}

.main-image {
  width: 100vw; /* Ocupar todo el ancho */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ocupar toda la pantalla sin deformarse */
}

.proyects__thumbnail-container {
  width: 90%; /* Ocupar todo el ancho */
  height: 150px; /* Altura fija para las miniaturas */
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  overflow-y: hidden;
  display: flex;
  flex-direction: row; /* Miniaturas en fila */
  align-items: center;
  justify-content: start;
  position: absolute;
  bottom: -160px;
  padding: 10px 0;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.proyects__thumbnail {
  width: 100px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  flex-shrink: 0;
}

.proyects__thumbnail.active {
  transform: scale(1.2);
  border: 2px solid #555555;
  padding:2px;
}

.proyects__img-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyects__content-btn-actions {
  display: flex;
  gap:50px;
  position: absolute;
  bottom: -250px;
}
