.showroom__container {
  width: 100%;
  height: 1090px;
  display: flex;
  flex: 1/1;
  transition: all 0.3s ease-in-out;
}

.showroom__content-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showroom__content-left > h2 {
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 100;
  font-size: var(--aw-font-size-xxxxxl);
}

.showroom__content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.showroom__content-options {
  padding: 120px 170px;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showrrom__children {
  padding: 0px 170px;
}

.showroom__item {
  display: flex;
  flex-direction: column;
}

.showroom__content-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.showroom__content-title > h2 {
  font-size: var(--aw-font-size-xl);
  cursor: pointer;
}

.showroom__description {
  padding: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
}

.showroom__description > p {
  font-size: var(--aw-font-size-l);
  font-family: 'TT0003M', sans-serif;
}

.showroom__description > p:first-child {
  margin: 40px 0;
}
.showroom__description > p:last-child {
  margin-bottom: 20px;
}

/*ANIMATION*/
.active-title {
  position: relative;
  display: inline-block;
}

.active-title::after {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -10px;
  height: 1px;
  background-color: var(--aw-bg-secondary);
}

.showroom__description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.show {
  max-height: 590px;
  opacity: 1;
}

.hide {
  max-height: 0;
  opacity: 0;
}

@media (max-width: 1493px) {
  .showroom__content-options {
    padding: 120px 90px;
    max-width: 950px;
  }
  .showrrom__children {
    padding: 0px 90px 120px;
  }
}

@media (max-width: 1278px) {
  .showroom__container {
    flex-wrap: wrap;
    flex: auto;
    height: 100%;
  }

  .showroom__content-left {
    height: 690px;
  }
}

@media (max-width: 936px) {
  .showroom__content-left > h2 {
    font-size: var(--aw-font-size-xxxl) !important;
  }

  .showroom__content-right {
    padding: 0px;
  }

  .showroom__content-options {
    max-width: 650px;
  }

  .showroom__content-title > h2 {
    font-size: var(--aw-font-size-l) !important;
  }
}

@media (max-width: 546px) {
  .showroom__description > p {
    padding-right: 0px;
  }

  .showroom__content-right {
    padding: 0px;
  }

  .showroom__content-left > h2 {
    font-size: var(--aw-font-size-xxl) !important;
  }
  .showroom__content-options {
    padding: 100px 30px;
    width: 100%;
  }
  .showrrom__children {
    padding: 0px 60px 120px;
  }
  .showroom__content-title > h2 {
    font-size: 16px !important;
    font-weight: 500;
  }
  .showroom__description > p{
    font-size: 16px !important;
  }
}
