.product__container {
  padding-top: 180px;
}

.product__hero-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__hero-content > h1 {
  position: absolute;
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.product__content-description {
  width: 100%;
  padding: 150px 300px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.product__content-description > p {
  text-align: center;
}

.product__content-slice-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__content-array-img {
  padding: 0 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product__content-description-prod {
  padding: 150px 120px;
  display: flex;
  justify-content: center;
  gap: 80px;
  transition: all 0.3s ease-in-out;
}

.product__content-description-prod-article {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.product__content-description-prod-article > article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__content-description-prod-article-subtitle {
  /*   font-weight: 300; */
  font-family: 'TT0005M', sans-serif;
}

.product__buttons {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.selected {
  border-radius: 30px;
  overflow: hidden;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 936px) {
  .product__container {
    padding-top: 110px;
  }

  .product__content-description {
    padding: 100px 70px;
  }

  .product__content-array-img {
    padding: 0 10px 10px;
  }

  .product__content-description-prod {
    padding: 150px 70px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .product__content-description-prod-img,
  .product__content-description-prod-article {
    width: 100%;
  }
}

@media (max-width: 546px) {
  .product__content-description {
    padding: 70px 30px;
  }

  .product__content-slice-img {
    align-items: center;
    overflow: hidden;
  }

  .product__content-array-img {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .product__content-description-prod {
    padding: 150px 30px;
    flex-wrap: wrap;
  }
  .product__content-description-prod-img,
  .product__content-description-prod-article {
    width: 100%;
  }
  .selected {
    overflow: visible;
  }
}
