.product__container {
  padding: 180px 0;
}

.product__hero-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__hero-content > h1 {
  position: absolute;
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.product__content-description {
  width: 100%;
  padding: 150px 300px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.product__content-description > p {
  text-align: center;
}

.product__content-slice-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products__content-options-product {
  display: flex;
  justify-content: center;
}

.product__content-array-img {
  padding: 0 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.product__content-description-prod {
  padding: 150px 120px 50px;
  display: flex;
  justify-content: center;
  gap: 80px;
  transition: all 0.3s ease-in-out;
}

.product__content-description-prod-article {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.product__content-description-prod-article > article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__content-description-prod-article-subtitle {
  /*   font-weight: 300; */
  font-family: 'TT0005M', sans-serif;
}

.product__buttons {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.selected {
  border-radius: 30px;
  overflow: hidden;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.products__content-options {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.product__content-title {
  padding: 10px 60px;
}

.product__content-title > h2 {
  font-size: var(--aw-font-size-l) !important;
  font-family: 'TT0003M', sans-serif;
}

.products__container-options {
  padding: 0 120px;
}

.product__container > hr {
  margin: 100px 120px;
}

.product__content-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  gap: 30px;
}
.product__content-action > h3 {
  font-size: var(--aw-font-size-m);
  width: 400px;
  text-align: center;
}

.product__array-cards {
  margin-top: 80px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  justify-content: flex-start;
}

.product__array-cards > * {
  flex: 0 0 80%;
  max-width: 300px;
  scroll-snap-align: start;
}

.product__container  .product__array-cards  .card__container {
  margin-bottom: 50px;
}


@media (max-width: 936px) {
  .product__content-action {
    margin-top: 0px;
  }
  .product__container {
    padding-top: 110px;
  }

  .products__container-options {
    padding: 0 70px;
  }

  .product__content-description {
    padding: 100px 70px;
  }

  .product__content-array-img {
    padding: 0 10px 10px;
  }

  .product__content-description-prod {
    padding: 150px 70px;
    flex-wrap: wrap;
    gap: 50px;
  }
  .product__content-description-prod-img,
  .product__content-description-prod-article {
    width: 100%;
  }
  .product__container > hr {
    margin: 120px 70px;
  }
}

@media (max-width: 546px) {
  .product__array-cards {
    margin-top: 30px;
  }
  .product__content-title>h2 {
    padding: 50px 0px;
  }
  .product__content-action {
    margin-top: 60px;
    padding: 0 30px;
  }
  .product__content-action > h3 {
    font-size: var(--aw-font-size-m) !important;
    width: 100%;
  }

  .product__content-action > h3 {
    padding-bottom: 50px;
  }
  .product__content-description {
    padding: 70px 30px;
  }

  .products__container-options {
    padding: 0 30px;
  }

  .product__content-slice-img {
    align-items: center;
    overflow: hidden;
  }

  .product__content-array-img {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .products__content-options {
    margin-top: 70px;
  }

  .product__content-description-prod {
    padding: 70px 30px;
    flex-wrap: wrap;
  }
  .product__content-description-prod-img,
  .product__content-description-prod-article {
    width: 100%;
  }
  .selected {
    overflow: visible;
  }
  .product__container > hr {
    margin: 50px 30px;
  }
}
