.process__container {
  width: 100%;
  padding: 180px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: var(--aw-bg-gradiant);
}

.process__content-title {
  padding: 0 20px 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--aw-bg-thir);
}

.process__content-title > h2 {
  text-transform: capitalize;
}

.process__content-description {
  text-align: center;
  max-width: 970px;
}

.process__container-article {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}

.process__content-article {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.process__content-description > p,
.process__content-article > h3,
.process__content-article > p,
.process__container > p {
  font-size: var(--aw-font-size-l);
  line-height: 27px;
}

.process__btn-action {
  margin-top: 50px;;
  background: none;
  border: 1px solid var(--aw-bg-thir);
  padding: 5px 10px;
  transition: all 0.3s ease-in;
}

@media (max-width: 1450px) {
  .process__content-article {
    min-width: 40%;
    max-width: 46%;
  }
}

@media (max-width: 1020px) {
  .process__content-description {
    max-width: 90%;
  }

  .process__content-article {
    min-width: 100%;
  }
}

@media (max-width: 936px) {
  .process__container {
    padding: 130px 70px;
  }

  .process__container > h2 {
    font-size: var(--aw-font-size-xl) !important;
  }

  .process__content-description > p,
  .process__content-article > h3,
  .process__content-article > p,
  .process__container > p {
    font-size: var(--aw-font-size-l) !important;
  }
}

@media (max-width: 546px) {
  .process__container {
    padding: 100px 30px;
  }

  .process__content-description {
    min-width: 100%;
  }

  .process__container > h2 {
    font-size: var(--aw-font-size-l) !important;
  }

  .process__content-description > p,
  .process__content-article > h3,
  .process__content-article > p,
  .process__container > p {
    font-size: var(--aw-font-size-m) !important;
  }
}
