.news__container {
  width: 100%;
  padding: 0px 0;
  /* padding: 180px 0; */
}

.news__hero-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__hero-content > h1 {
  position: absolute;
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.news__content-news {
  width: 100%;
  padding: 120px;
}

.news__content-news > div > h1,
.news__section-categories > div > h3,
.news__section-news-title > h2 {
  font-size: var(--aw-font-size-xxl) !important;
}

.news__section-categories > div > h3 {
  margin-bottom: 15px;
}

.news__sections {
  margin-top: 120px;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 200px;
}

.news__section-news {
  width: 70%;
}
.news__section-categories {
  width: 30%;
}

.news__section-news,
.news__section-categories {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.news__categories-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.news__categories-list> div> hr {
  margin-top: 15px;
}

.news__section-news-title {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news__section-news-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news__section-categories-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.news__recent-news {
  display: flex;
  flex-direction: column;
}

.news__recent-news > hr {
  margin-bottom: 30px;
}

 .news__social {
  margin-top: 0px;
 }
 .news__social > hr {
  margin-bottom: 30px;
 }

 .news__recent-news-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
 }
 .news__recent-news-content > div > h3 {
  font-size: var(--aw-font-size-l);
 }

@media (max-width: 956px) {
  .news__sections {
    flex-direction: column-reverse;
    gap: 120px;
  }
  .news__section-news {
    width: 100%;
  }

  .news__section-categories {
    width: 100%;
  }

  .news__section-categories-content {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .news__social {
    display: none;
  }

  .news__content-news > div > h1,
  .news__section-categories > div > h3,
  .news__section-news-title > h2 {
    font-size: var(--aw-font-size-xl) !important;
  }

  .news__content-news {
    padding: 70px;
  }
}

@media (max-width: 546px) {
  .news__content-news > div > h1,
  .news__section-categories > div > h3,
  .news__section-news-title > h2 {
    font-size: var(--aw-font-size-l) !important;
  }

  .news__content-news {
    padding: 30px;
  }
}
