.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 190, 190);
  align-items: start;
}

.footer__content-banner {
  width: 100%;
}

.footer__content {
  padding: 90px 120px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}

.footer__content > p {
  font-size: var(--aw-font-size-m);
}

@media (max-width: 936px) {
  .footer__content {
    padding: 90px 70px 60px;
  }
}
@media (max-width: 546px) {
  .footer__container {
    align-items: center;
  }

  .footer__content {
    padding: 80px 30px 60px;
  }
  .footer__content-banner {
    height: 350px;
  }
}
