:root {
  /* Background Colors */
  --aw-bg-primary: #C8C2BA;
  --aw-bg-secondary: #303030;
  --aw-bg-thir: #4E3F3A;

  /* Text Colors */
  --aw-text-primary: #383838;
  --aw-text-secondary: #FFFFFF;
  --aw-text-thir: #4E3F3A;

  /*SPACING AND ROUNDED*/
  --aw-spacing-xs: 8px;

  /*FONT SIZE*/
  --aw-font-size-xs: 12px;
  --aw-font-size-s: 14px;
  --aw-font-size-l: 20px;
  --aw-font-size-xl: 24px;
  --aw-font-size-xxl: 32px;
  --aw-font-size-xxxl: 38px;
  --aw-font-size-xxxxl: 44px;
}

@font-face {
  font-family: 'Diagramm-Regular';
  src: url('./fonts/Diagramm-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan-Variable';
  src: url('./fonts/Spartan-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'TT0003M';
  src: url('./fonts/tt0003m_.ttf') format('truetype');
}

@font-face {
  font-family: 'TT0005M';
  src: url('./fonts/tt0005m_.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Spartan-Variable', sans-serif;
  background-color: var(--aw-bg-primary);
}

html,
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: var(--aw-font-size-xxxl);
  font-family: 'TT0005M', sans-serif;
  color: var(--aw-text-primary)
}

h2 {
  font-size: var(--aw-font-size-xxxl);
  font-family: 'TT0005M', sans-serif;
  color: var(--aw-text-primary)
}

h3,
h4,
h5 {
  font-size: var(--aw-font-size-xxl);
  color: var(--aw-text-primary)
}

p,
li {
  font-family: 'TT0003M', sans-serif;
  font-size: var(--aw-font-size-xl);
  color: var(--aw-text-thir)
}

a {
  text-decoration: none;
  font-family: 'TT0003M', sans-serif;
  color: var(--aw-text-thir);
}

button {
  font-size: var(--p-font-size-s);
  border: none;
}
a,
button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

a:hover,
button:hover {
  transform: scale(1.03);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  opacity: 1;
  animation: fadeInUp 0.5s ease-in;
}

.filter {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #c8c2ba8f;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--aw-bg-thir);
  border-radius: 10px;
  border: 3px solid var(--aw-bg-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}

::-webkit-scrollbar-track {
  background: #77777700;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: #f5f5f5;
}

@media (max-width: 936px) {
  h1 {
    font-size: var(--aw-font-size-xl)!important;
  }
  h2, h3 {
    font-size: var(--aw-font-size-l)!important;
  }
}

@media (max-width: 546px) {
  h1 {
    font-size: var(--aw-font-size-l)!important;
  }
  h2, h3 {
    font-size: var(--aw-font-size-l)!important;
  }
  p,
  li {
    font-size: var(--aw-font-size-m)!important;
  }
}
