.carousel__content {
  position: absolute;
  margin-top: 260px;
  width: 100%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.carousel__content-section3 {
  position: absolute;
  margin-top: 140px;
  width: 100%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.carousel__content-section3 > div > h1 {
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.carousel__content-section3 > div > p {
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxl);
}

.carousel__content-section5 {
  position: absolute;
  margin-top: 360px;
  right: 0px;
  width: 50%;
  padding: 0 180px 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.carousel__content-section5 > div > h1 {
  color: var(--aw-text-secondary);
  font-family: 'TT0003M', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.carousel__content-section5 > div > p {
  color: var(--aw-text-secondary);
  font-family: 'TT0003M', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-l);
}

@media (max-width: 936px) {
  .carousel__content {
    margin-top: 150px;
    padding: 0 70px;
  }

  .carousel__content-section3 {
    padding: 0 70px;
  }

  .carousel__content-section5 {
    padding: 0 80px 0 0px;
  }
}

@media (max-width: 546px) {
  .carousel__content {
    padding: 30px 30px;
  }

  .carousel__content-section3 {
    padding: 0 30px;
    margin-top: 40px;
  }
  
  .carousel__content-section5 {
    margin-top: 40px;
    left: 0px;
    width: 80%;
    padding: 0 0px 0 30px;
    gap: 10px;
  }
  .carousel__content__button {
    margin-top: 20px;
  }
}
