.carousel__content {
  position: absolute;
  margin-top: 260px;
  width:100%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap:30px;
  transition: all 0.3s ease-in-out;
  height: 5000px;
}

@media (max-width: 936px) {
  .carousel__content {
    margin-top: 150px;
    padding: 0 70px;
  }
}

@media (max-width: 546px) {
  .carousel__content {
    padding: 30px 30px;
  }
}