.carousel__content {
  position: absolute;
  margin-top: 260px;
  width: 100%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.carousel__content-section3 {
  position: absolute;
  margin-top: 140px;
  width: 100%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.carousel__content-section3 > div > h1 {
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.carousel__content-section3 > div > p {
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxl);
}

.carousel__content-section5 {
  position: absolute;
  margin-top: 360px;
  right: 0px;
  width: 50%;
  padding: 0 180px 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.carousel__content-section5 > div > h1 {
  color: var(--aw-text-secondary);
  font-family: 'TT0003M', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.carousel__content-section5 > div > p {
  color: var(--aw-text-secondary);
  font-family: 'TT0003M', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-l);
}

.carousel__content-section7 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 0.3s ease-in-out;
}

.carousel__content-section7 > div > h2 {
  color: var(--aw-text-secondary);
  font-family: 'Diagramm-Regular', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-xxxl);
}

.carousel__content-p-section7 {
  width: 55%;
  padding: 50px 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel__content-p-section7 > p {
  text-align: center;
  color: var(--aw-text-secondary);
  font-family: 'TT0003M', sans-serif;
  font-weight: 300;
  font-size: var(--aw-font-size-l);
}

.products__array-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px;
  margin-top:80px;
}

.products__array-cards > * {
  flex: 1 1 calc(20% - 40px);
}

.products__content-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap:30px;
}

.products__content-action > h3 {
  font-size: var(--aw-font-size-m);
  width:400px;
  text-align: center;
}

@media (max-width: 1024px) {
  .products__array-cards > * {
    flex: 1 1 calc(50% - 40px);
  }
  .products__content-action > h3 {
    font-size: var(--aw-font-size-m)!important;
    width:100%;
  }
}

/* Móviles (1 columna) */
@media (max-width: 768px) {
  .products__array-cards > * {
    flex: 1 1 100%;
  }
}


@media (max-width: 936px) {
  .carousel__content {
    margin-top: 150px;
    padding: 0 70px;
  }

  .carousel__content-section3 {
    padding: 0 70px;
  }

  .carousel__content-section5 {
    padding: 0 80px 0 0px;
  }
  .carousel__content-p-section7 {
    width: 100%;
    padding: 50px 70px 0;
  }
  .carousel__content-section7 > div > h2 {
    font-size: var(--aw-font-size-xxl) !important;
  }
}

@media (max-width: 546px) {
  .carousel__content {
    padding: 30px 30px;
  }

  .carousel__content-section3 {
    padding: 0 30px;
    margin-top: 40px;
  }

  .carousel__content-section5 {
    margin-top: 40px;
    left: 0px;
    width: 80%;
    padding: 0 0px 0 30px;
    gap: 10px;
  }

  .carousel__content-p-section7 {
    padding: 20px 30px 0;
  }

  .carousel__content-section7 > div > h2 {
    font-size: var(--aw-font-size-xxxl) !important;
  }
  
  .carousel__content-p-section7 > p {
    text-align: center;
  }

  .carousel__content__button {
    margin-top: 20px;
    padding: 0 3px;
  }
}
