.nav__container {
  position: fixed;
  width: 100%;
  padding: 55px 120px;
  z-index: 200;
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: end;
}

.nav--hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav__container {
  transition: transform 0.3s ease-in-out;
}

.nav__content-links {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 60px;
}

.nav__content-ul-desktop {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__content-ul-desktop {
  flex-wrap: wrap-reverse;
  align-items: end;
  justify-content: start;
}

.nav__content-ul-desktop > li {
  position: relative;
}

.nav__content-links ul li a,
.nav__submenu,
.nav__linkref {
  color: var(--aw-text-primary);
  font-size: var(--aw-font-size-s);
}

.nav__content-submenu {
  position: absolute;
  background-color: var(--aw-bg-primary);
  left: auto;
  top:60px;
  left:-120px;
  padding:15px 15px;
  display: flex;
  width:370px;
  flex-wrap: wrap;
  justify-content: start;
}
.nav__content-submenu li {
  width:auto;
  display: flex;
  align-items: center;
  gap:10px;
  margin-right: 10px;
}

.nav__submenu {
  background: none;
}

.nav__linkref {
  cursor: pointer;
}

.nav__content-locales {
  display: flex;
  align-items: center;
}

.nav__link-active {
  font-weight: bold;
  border-bottom: 1px solid var(--aw-text-primary);
  transition: all 0.3s ease-in-out;
  padding: 2px 4px;
}

@media (max-width: 936px) {
  .nav__content-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    height: 70%;
    align-items: start;
  }

  .nav__content-menu-social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__container {
    padding: 30px 70px;
  }

  .nav__separate {
    margin-top: 134px;
    padding: 0 70px;
  }

  .nav__container-menu {
    position: fixed;
    width: 100%;
    height: 110svh;
    z-index: 100;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    background-color: #c8c2ba;
  }

  .nav__container-menu > div > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: star;
    gap: 15px;
  }

  .nav__container-menu.active {
    transform: translateY(0px);
  }
}

@media (max-width: 546px) {
  .nav__container {
    padding: 30px 30px;
  }
  .nav__separate {
    margin-top: 135px;
    padding: 0 30px;
  }
}
