.section__contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ocupar toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  z-index: 2000;
  background-color: var(--aw-bg-primary);
  overflow-y: auto; /* Permite el scroll dentro de la sección */
  overscroll-behavior: contain; /* Evita que el scroll afecte el fondo */
  padding: 20px; /* Agregar un poco de padding */
}

/* Evitar que el body haga scroll cuando la sección de contacto está activa */
body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.layout__container {
  width:100%;
  position:relative
}
